body, html {
    background-color:#333;
    height: 100%;
    margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    font-family:fantasy;
    background-attachment: fixed;
}
a{
	font-size: 18px;
	color: white;
	text-decoration: none;
}
strong{
	color: white;
	font-size: 35px;
	font-family:cursive;
}
label{
	color:#3c16b1;
  font-family: cursive;
  font-size: 25px;
  padding-left: 20px;
}

input[type=radio] label{
  display: inline-block;
  font-family: cursive;
  color: #3c16b1;
  font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: cursive;
}

li {
    float: right;
    border-right:3px solid #bbb;
    font-family: cursive;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 35px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
	opacity: 0.6;
}


input[type=text], input[type=password], input[type=email] ,input[type=date], input[type=number]  {
    width: 50%;
    left: 70%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: cursive;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}
/*input[type=submit]
{
	border-radius:20px;
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
*/

select{
  width:50%;
  height:35px;
  border-radius:9px;
  border:none;
  font-family: cursive;
  background-color: rgba(255, 255, 255, 0.5);
}
option{
	width: 50%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: none;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    font-family: cursive;
}
/*button {
	border-radius:12px;
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    /*transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}*/

.swal-wide{
    width:850px !important;
    font-family: cursive !important;
    color: red;
}
.container {
    padding: 0px;
}
#book{
  font-family: cursive;
  background-color: black;
  width: 30%;
  border-radius: 20px;
  border: none;
}
.sucontainer{
  padding-left: 12px;
	/*padding: 12px;*/
	position:absolute;
	left:250px;
	right:600px;
	top:12%;
	border:2px solid white;
	border-collapse:collapse;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /*background-color: #c2c3c3;*/
}
